.left {
  float: left;
}

.alignleft {
  float: left;
  margin: 0 1em 0.8em 0;
}

.right {
  float: right;
}

.alignright {
  float: right;
  margin: 0 0 0.8em 1em;
}

.clear {
  clear: both;
}

.no-margin {
  margin: 0;
}

.page-numbers {
  @include no-space;

  list-style: none;

  li {
    display: inline-block;
    margin-right: 0.3em;

    span,
    a {
      line-height: 2.2em;
      padding: 0 0.8em;
      display: inline-block;
    }

    a {

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.button-subtext {
  font-size: 0.9em;
  font-weight: 400;
  display: block;
}

.float-box {
  clear: both;
  padding: 20px 0;
  float: left;
  width: 100%;
}

.column-third {
  width: 28.2%;
  margin: 0 50px 40px 0;
  float: left;

  h3 {
    margin: 0 0 12px;
  }
}

.tooltip {
  cursor: pointer;

  .tooltip-content {
    display: none;
    z-index: 100;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.trigger-modal {
  cursor: pointer;

  &:hover {
    @include opacity(0.9);
  }
}

.centered {
  text-align: center;
}
